---
---
<div class="container footer">
    <div class="row row-f">
        <div class="col col-f">
            ©2025
        </div>
        <div class="col col-f">
            Maria Jose Mejia
        </div>
        <div class="col col-f">
            All Rights Reserved
        </div>
    </div>
</div>