---
---
<div class="container main">
    <div class="row row-m">
        <div class="col col-m">
            <div class="card">
                <img class="card-img" src="/images/photography.png" alt="photography">
                <div class="card-body">
                    <h2 class="card-title">Photography</h2>
                    <p>Explore the latest in the photography world</p>
                    <a href="#" class="btn card-btn">Explore Now</a>
                </div>
            </div>
        </div>
        <div class="col col-m">
            <div class="card">
                <img class="card-img" src="/images/design.png" alt="design">
                <div class="card-body">
                    <h2 class="card-title">Design</h2>
                    <p>Designs to cure your creative block</p>
                    <a href="#" class="btn card-btn">Explore Now</a>
                </div>
            </div>
        </div>
        <div class="col col-m">
            <div class="card">
                <img class="card-img" src="/images/illustration.png" alt="illustration">
                <div class="card-body">
                    <h2 class="card-title">Illustration</h2>
                    <p>Images are worth a thousand words</p>
                    <a href="#" class="btn card-btn">Explore Now</a>
                </div>
            </div>
        </div>
        <div class="col col-m">
            <div class="card">
                <img class="card-img" src="/images/fashion.png" alt="fashion">
                <div class="card-body">
                    <h2 class="card-title">Fashion</h2>
                    <p>The art of creating clothing and accessories</p>
                    <a href="#" class="btn card-btn">Explore Now</a>
                </div>
            </div>
        </div>
    </div>
</div>