---
---
<div class="container navbar">
    <div class="row row-nav">
        <div class="col col-nav1">
                <a href="/">PORFOLIO</a>
        </div>
        <div class="col col-nav2">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/artists">Artists</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col col-nav3">
            <button>LogIn</button>
            <button>SignUp</button>
        </div>
    </div>
</div>
